
//Khai báo biến: {thuộc tính: giá trị; }, biến sẽ chứa giá trị
//Biến về color
$c0-primary: #2a73dd;
$c0-dark: #000;
$c0-light: #fff;
$c0-warning:orange;
//Biến về background
$bg0-primary: #2a73dd;
$bg-transparent: transparent;
$bg0-light: #fff;

//Biến về border-color
$bd-c0-primary: #2a73dd;

//Biến padding
$p-0: 0px;
$p-1: 15px;
$p-2: 30px;
$p-3: 45px;

//Biến về font-size
$text-base: 16px;
$text-xl: 18px;
$text-2xl: 20px;
$text-3xl: 30px;
$text-4xl: 40px;
$text-5xl: 50px;
$text-6xl: 60px;
$text-7xl: 70px;
//Biến về font-weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;
